@keyframes borderAnimation {
    0% {
        width: 0%;
        left: 50%;
    }

    50% {
        width: 100%;
        left: 0%;
    }

    100% {
        width: 0%;
        left: 50%;
    }
}

.animate-border {
    animation: borderAnimation 2s infinite;
}